<h1>All Registered Users</h1>
<table>
  <thead>
    <th>
      Email
    </th>
    <th>
      Admin?
    </th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.admin %>
        </td>
        <% end %>
      </tr>

  </tbody>
</table>
