<body id="landing-body">

  <div id="landing-text">
    <p>Quality hits. </p>
    <p>Mediocre commentary.</p>
  </div>

  <div>
    <%= link_to image_tag("https://i.sli.mg/ZI1fJh.png", :id => "enter-site-box"), page_home_path %>
  </div>


  <img id="hero-image" src="https://i.sli.mg/5ypWas.png">


</body>
