// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hero-image {
  width: 100vw;
  bottom: 0;
  position: fixed;
  }

#landing-body {
  background: url("https://i.sli.mg/toModJ.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

#landing-text {
  font-family: helvetica;
  font-size: 7vh;
  color: #ffffff;
  margin: 20vh 20vw 20vh 20vw;
  font-style: italic;

}

#enter-site-box {
  height: 11vmin;
  width: 21vmin;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.store-item {
  max-width: 26vw;
  position: relative;
  float: left;
}

.item-override {
  margin-bottom: 0;
}

#store-item-name {
  font-size: 2vmin;
}

#store-item-price {
  font-size: 1.5vmin;
}

.show-page-image {
  width: 50vmin;
}
